html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

article {
  margin-bottom: 32px;
}

.target {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

.alpha-target {
  /* mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/alpha-cat.png); */
  mask-image: url(zimg.png);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 80%;
}
